# ReSpeaker LED service unit file
# Copyright 2018 Joshua Boniface <joshua@boniface.me>
# Released under the GNU GPL version 3.0 or any later version.
[Unit]
Description = ReSpeaker LED manager
After = network-online.target

[Service]
Type = simple
Restart = on-failure
WorkingDirectory = /srv/respeaker-led
Environment = PYTHONUNBUFFERED="true"
ExecStartPre = /bin/bash -c "GIT_SSH_COMMAND='/usr/bin/ssh -i /srv/git-deploy.key' /usr/bin/git pull"
ExecStart = /srv/respeaker-led/daemon.py kalliope:kalliope

[Install]
WantedBy = multi-user.target
WantedBy = kalliope.service
