# ReSpeaker LED service unit file
[Unit]
Description = ReSpeaker LED manager
After = network-online.target

[Service]
Type = simple
WorkingDirectory = /srv/respeaker-led
ExecStartPre = /bin/bash -c "GIT_SSH_COMMAND='/usr/bin/ssh -i /srv/git-deploy.key' /usr/bin/git pull"
ExecStart = /usr/bin/stdbuf -oL /usr/bin/env python daemon.py
Restart = onfailure

[Install]
WantedBy = multi-user.target
WantedBy = kalliope.service
